* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* section 1 */
.header {
    text-align: right;
    background-image: url('./banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 100%;

}

.all-thinks {
    padding: 215px 230px 32px 845px;
    color: #FFFFFF;
}

.all-thinks h1 {
    font-weight: 700;
    font-size: 65px;
}

.all-thinks button {
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    margin-top: 32px;
    padding: 20px 25px 20px 25px;
}

/* failures detail */

.failures-title {
    display: flex;
    gap: 40px;

}

.failures-detail {
    padding-top: 250px;
    padding-right: 320px;
    padding-left: 90px;
    margin-left: 100px;

}

.failures-detail h1 {
    color: #151414;
    font-weight: 900;
    font-size: 40px;

}

.failures-detail ul {
    list-style-image: url('./icons/right\ symbol1.JPG')
}

.failures-img {
    background-image: url('./banner/header_bg.png');
    background-repeat: no-repeat;
    margin-left: 190px;
    margin-top: 130px;
}

.failures-img img {
    width: 400px;
    height: 400px;
    margin-left: 250px;
    margin-top: 110px;
}

/* section my-plans */

.my-plans h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;
    padding-top: 135px;
    padding-bottom: 50px;
}

.I-want {
    display: flex;
    gap: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
}

.plan-description {
    color: #737272;
}

.my-plans {
    padding-bottom: 130px;
    margin-left: 230px;
    margin-right: 230px;
    
}

/* bonus section style */

.about {
    background: linear-gradient(to right, #005FAC, #3f51b503), url('./sakib/watch.png');
    height: 300px;
    padding-top: 60px;
    padding-left: 64px;
    padding-right: 600px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 120vh;

}

.always {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h1 {
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 24px;
}

.about button {
    color: #005FAC;
    font-weight: 800;
    font-size: 20px;
    padding: 20px 25px 20px 25px;
}

/* footer style */

.contact {
    display: flex;
    gap: 300px;
    background: #0B0D17;
    padding: 130px 0px;
}

.contact-phone-email {
    color: #F8F8F8;
    margin-left: 230px;
}

.contact-phone-email h2 {
    font-weight: 700;
    font-size: 45px;
}

.contact-phone-email p {
    font-weight: 400;
    font-size: 16px;
    padding: 15px 0px;
}

.contact a {
    text-decoration: none;
}

.subscribe {
    color: #F8F8F8;
    margin-right: 230px;

}

.subscribe p {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 15px;
}

.contact input[type="email"] {
    background-color: #151414;
    padding: 15px;
    color: #F3F3F3;
    font-weight: 400;
    font-size: 18px;
    border-radius: 8px solid #ffffff;
}

.subscribe .btn-subscribe {
    margin-top: 15px;
    padding: 20px 30px;
    background: #005FAC;
    font-weight: 600;
font-size: 20px;
color: #FFFFFF;

}